@mixin btnCommon {
  color: $gray;
  background-color: $contrast;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  &:hover{
    background-color: darken($color: $contrast, $amount: 3);
  }

}

.appBtn {
  @include btnCommon();
  padding: 13px 16px;
}

.navBtn {
  @include btnCommon();
  padding: 8px 16px;
  border: 1px solid $gray;
  @media screen and (max-width: $medium) {
    display: none;
  }

  &_icon {
    @include btnCommon();
    display: none;

    @media screen and (max-width: $medium) {
      display: block;
    }
  }
}