@import './variables.scss';
@import './input.scss';
@import '/node_modules/normalize-scss/sass/normalize';
@import './btn.scss';
@include normalize();

* {
  box-sizing: border-box;
  margin: 0;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  margin: 0;
}



.headerTitle{
  color: white;
  font-size: 64px;
  margin-bottom: 16px;
  font-weight: 400;
}

.headerSubtitle {
  color: $gray;
}

.centerText {
  text-align: center;
}

.centerBlock {
  margin: 0 auto;
}
 
h2 {
  font-size: 20px;
  line-height: 22.5px;
  font-weight: 400;
}

html {
  font-family: "Roboto", sans-serif;
  color: $black;
  // font-size: ;
}

.app-container {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
}

.auth-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;

  .auth {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    // align-items: center;
    padding: 16px;
    gap: 16px;
    width: 500px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    .auth__redirect {
      text-align: end;
      color: $gray_contrast;
      font-size: 12px;
    }

    .auth__submit {
      margin-top: 24px;
    }
  }
}

.header-container {
  background: $contrast;
  color: white;
  padding: 32px 0 64px;
  margin-bottom: 49px;
}

.main-container {
  width: 88.888%;
  margin: 0 auto;
}

.nav{
  display: flex;
  justify-content: space-between;
}

.indexHeader {
  max-width: 70%;
}

.userList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  // flex-wrap: wrap;
  justify-content: space-between;
  // row-gap: 16px;

}

.userCard {
  border: 1px solid $gray;
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.15);
  width: 305px;
  padding: 36px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}